/* Stylesheet for bag page */

.a6-bag-main {
    padding: 2% 14%;
    width: 70%;
}

.a6-bag-title {
    font-size: 50px;
    margin: 0px;
}

.a5-bag-oneliner {
    margin: 0px;
    padding: 10px 0;
}

.bun-selections {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #C4C4C4;
}

.individual-bun-details {
    flex: 1;
    padding: 0 20px;
}

.bun-name {
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.bun-image {
    padding-top: 10px;
    height: 80px;
    margin: 0;
}

.bun-extra-info {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
}

.total-amount {
    display: flex;
    align-items: baseline;
    font-size: 22px;
    font-weight: bold;
}

.total-amount-label {
    flex: 1;
}

.proceed-to-payment-btn {
    background-color: #E4B267;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    height: 40px;
}